mixin Modal()
    div(id="exampleModal" 
        class="modal fade" tabindex='-1' 
        role='dialog' 
        aria-labelledby='exampleModalLabel' 
        aria-hidden='true')
        
        div(class="modal-dialog modal-content" role='document')

            .modal-header
                h5#exampleModalLabel.modal-title Modal title
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;

            .modal-body Mensaje Modal
                 table(class="table table-hover table-bordered mt-4 ")
                    thead
                        tr(class="table table-info")
                        th(scope='col') Id
                        th(scope='col') Title task
                        th(scope='col') Description task
                        th(scope='col') Actions
                    tbody(id="modal")

            .modal-footer
                button(class="btn btn-warning" 
                       type='button' 
                       id="modal-close" 
                       data-dismiss='modal') Close
                